<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.first_name %> <%= @user.last_name %> </h1>
    <p>
      Your subscription is now active
    </p>
  </body>
</html>